.q {
    margin-top: 1%;
    margin-bottom: 1%;
}
.jumbo {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    height: 75%;
    background: #283048;
    background: -webkit-linear-gradient(to left, #283048, #859398);
    background: linear-gradient(to left, #283048, #859398);
}
image{
	height: 25%;
	width: 25%;
}
form{
	margin-top: 10px;
}
.pic{
	margin-top: 30%;
	margin-left: 10%;
}
.title{
	font-family: 'Pangolin', cursive;
	font-size: 40pt;
	color: #FFEDBC;
	margin-top: 5%;
	text-align: center;
}
.text{
		font-family: 'Pangolin', cursive;
	font-size: 20pt;
	color: #FFEDBC;
	margin-top: 5%;
	text-align: center;
}
.sub{
	color: #FFEDBC;
}
